<a href="https://colab.research.google.com/github/Akhila2403A51L40/NLP/blob/main/NLP_25_8_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import nltk
nltk.download('punkt')
nltk.download('punkt_tab')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [12]:
import pandas as pd
import re

In [5]:
df=pd.read_csv('/content/movie_genre_classification_final.csv')

In [7]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from sklearn.feature_extraction.text import CountVectorizer
import string

In [36]:
def preprocess_text(Description):
  text=Description.lower()
  text=text.translate(str.maketrans(string.punctuation, " "*len(string.punctuation)))
  text=re.sub(r'[^a-zA-Z0-9\s]', ' ',text)
  tokens=word_tokenize(text)
  stop_words=set(stopwords.words('english'))
  tokens=[word for word in tokens if word not in stop_words]
  return ' '.join(tokens)

In [37]:
df["cleaned_text"]=df["Description"].astype(str).apply(preprocess_text)

In [38]:
print(df)

                 Title  Year    Director  Duration  Rating   Votes  \
0      Winds of Fate 4  1980      R. Lee       167     4.1  182425
1         Firestorm 11  2014     S. Chen       166     4.1  449351
2        Silent Echo 2  2016     A. Khan       170     4.1  363328
3        City Lights 4  1982    L. Zhang       170     9.9   62371
4       Broken Truth 1  1990    L. Zhang        91     5.3    4600
...                ...   ...         ...       ...     ...     ...
49995    Ocean Call 20  2013  T. Johnson       149     6.8  340904
49996    Ocean Call 13  2001    M. Brown       166     7.6  214228
49997  Last Mission 15  2017    J. Smith       158     9.2  251931
49998     Firestorm 11  1992    J. Smith       166     7.2  487956
49999   Silent Echo 12  2009    P. Adams       117     4.3  392762

                                             Description  Language  \
0       A touching love story with heartwarming moments.   Spanish
1      A fast-paced thriller with intense action scenes.    Korean
2      A fast-paced thriller with intense action scenes.    Korean
3      An emotional journey exploring complex charact...  Japanese
4      An imaginative world filled with magic and won...    Korean
...                                                  ...       ...
49995   A touching love story with heartwarming moments.   English
49996  A spine-chilling tale that evokes fear and dread.  Japanese
49997   A light-hearted comedy that guarantees laughter.    Korean
49998  A spine-chilling tale that evokes fear and dread.  Mandarin
49999  An imaginative world filled with magic and won...   Spanish

           Country  Budget_USD  BoxOffice_USD    Genre  Production_Company  \
0            China    39979615      179936008  Romance          DreamWorks
1            China   116404774      802121619   Action             Netflix
2            Japan   166261330      225526871   Action               Pixar
3            Japan    28861315       69813738    Drama             Netflix
4              USA    43890403      375136716  Fantasy       Studio Ghibli
...            ...         ...            ...      ...                 ...
49995           UK    62456512        3291117  Romance      Yash Raj Films
49996  South Korea    33239921      465759764   Horror             Netflix
49997  South Korea    79589169      820566917   Comedy  Paramount Pictures
49998  South Korea   179834680      131779818   Horror      Amazon Studios
49999       France    45434366      957562425  Fantasy       Sony Pictures

      Content_Rating         Lead_Actor  Num_Awards  Critic_Reviews  \
0                  R     Kangana Ranaut           8             229
1                  R     Kangana Ranaut          20             466
2                 PG   Amitabh Bachchan          16             539
3              NC-17    Natalie Portman          15             606
4                 PG        Chris Evans           6             330
...              ...                ...         ...             ...
49995          PG-13  Leonardo DiCaprio          18             481
49996          PG-13        Emma Watson           3              84
49997          PG-13     Shah Rukh Khan           1             994
49998              R     Kangana Ranaut          10             349
49999          PG-13        Emma Watson          20             191

                                         cleaned_text
0            touching love story heartwarming moments
1           fast paced thriller intense action scenes
2           fast paced thriller intense action scenes
3      emotional journey exploring complex characters
4               imaginative world filled magic wonder
...                                               ...
49995        touching love story heartwarming moments
49996           spine chilling tale evokes fear dread
49997        light hearted comedy guarantees laughter
49998           spine chilling tale evokes fear dread
49999           imaginative world filled magic wonder

[50000 rows x 18 columns]

In [41]:
cv=CountVectorizer(max_features=50)
X=cv.fit_transform(df["cleaned_text"])
print(X)

<Compressed Sparse Row sparse matrix of dtype 'int64'
	with 264367 stored elements and shape (50000, 36)>
  Coords	Values
  (0, 31)	1
  (0, 20)	1
  (0, 27)	1
  (0, 14)	1
  (0, 22)	1
  (1, 9)	1
  (1, 23)	1
  (1, 30)	1
  (1, 16)	1
  (1, 0)	1
  (1, 25)	1
  (2, 9)	1
  (2, 23)	1
  (2, 30)	1
  (2, 16)	1
  (2, 0)	1
  (2, 25)	1
  (3, 6)	1
  (3, 17)	1
  (3, 8)	1
  (3, 4)	1
  (3, 1)	1
  (4, 15)	1
  (4, 35)	1
  (4, 11)	1
  :	:
  (49995, 27)	1
  (49995, 14)	1
  (49995, 22)	1
  (49996, 26)	1
  (49996, 2)	1
  (49996, 29)	1
  (49996, 7)	1
  (49996, 10)	1
  (49996, 5)	1
  (49997, 19)	1
  (49997, 13)	1
  (49997, 3)	1
  (49997, 12)	1
  (49997, 18)	1
  (49998, 26)	1
  (49998, 2)	1
  (49998, 29)	1
  (49998, 7)	1
  (49998, 10)	1
  (49998, 5)	1
  (49999, 15)	1
  (49999, 35)	1
  (49999, 11)	1
  (49999, 21)	1
  (49999, 34)	1